@model DLLApp.ViewModels.StudentInfoViewModels

@{
    ViewBag.Title = "Add Student";
}

<h2>Add Student</h2>
<h4>Student Info</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("~/Views/Student/Shared/_StudentInfoPartial.cshtml", Model)
    @Html.Partial("~/Views/Student/Shared/_AddressPartial.cshtml", Model)


}


